watch_file flake.nix
watch_file flake.lock
# load the flake devShell
eval "$([ -d $(direnv_layout_dir) ] || mkdir $(direnv_layout_dir); nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
